body,
html {
  height: 100%;
}

h1,
h2,
h3,
p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#main {
  background-image: url(./assets/main-bg.jpg);
  background-color: black;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tombol {
  color: black;
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
}

a {
  color: white;
  font-weight: bold;
}

#navbar {
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
  color: white;
}

.center-text {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: white;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

body {
  font-size: 20px;
}

#about {
  display: flex;
  /* justify-content: space-evenly; */

  height: 100vh;

  background-image: url(./assets/the-games-bg.jpg);
  background-color: black;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;

  color: white;
}
#about-text {
  width: 30%;
}
#carousel-game {
  width: 70%;
}
#carousel-game {
  height: 200px;
  width: 500px;
}

.game-features {
  background-image: url(./assets/features.jpg);
  background-color: black;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  color: white;
}

li {
  padding: 30px;
}

#system-req {
  background-image: url(./assets/requirements.png);
  background-color: black;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  color: white;
}

.container-fluid {
  display: flex;
}

#top-score {
  background-image: url(./assets/top-score-bg.png);
  background-color: black;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

#newsletter {
  display: flex;
  background-color: black;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#news-div2 {
  color: white;
  padding-top: 10%;
  padding-left: 100px;
}

hr {
  color: white;
}

footer {
  background-color: black;
  color: white;
}
#footer-div1 {
  display: flex;
  justify-content: flex-end;
  font-size: small;
  font-weight: bold;
  padding: 32px 20px 10px 10px;
}

#footer-div2 {
  display: flex;
  justify-content: flex-end;
  font-size: small;
  font-weight: bold;
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
}
table,
td {
  border: 1px solid rgba(78, 77, 77, 0.747);
}

td {
  padding: 10px;
}

td h4 {
  color: gold;
}
